<div class="form-group">
  <label for="sentenceInput">Sentence</label>
  {{input id='sentenceInput' class='form-control' type="text" value=sentence}}
</div>
<div class="form-group">
  <label for="expArea">Explanation</label>
  (<a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Markdown</a> allowed)
  {{textarea rows='5' id='expArea' value=explanation}}
</div>
