<h5>Sentence Preview</h5>
<div id='sentence-preview' class='preview'>
  {{markdown sentence}}
</div>
<h5>Explanation Preview</h5>
<div id='exp-preview' class='preview'>
  {{markdown explanation}}
</div>
