<div class='grippie'>
  <i class='fa fa-align-justify'></i>
  <i {{action cancelCompose}} class='fa tip fa-toggle-down' title='Toggle' style='padding-right:10px;float:right'></i>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      {{#if model}}
        {{render 'composer_form' model}}
      {{/if}}
    </div>
  </div>
</div>
