<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SayXinMandarin</a>
    </div>
    <div class="collapse navbar-collapse">
      {{partial 'nav'}}
      {{#if currentUser}}
        <ul class="nav navbar-nav navbar-right">
          <li>{{#linkTo 'user' currentUser.id}}Profile{{/linkTo}}</a></li>
          <li><a data-method="delete" href="/users/sign_out" rel="nofollow">Sign out</a></li>
        </ul>
      {{else}}
        {{view App.SignInView}}
      {{/if}}
    </div>
    <!-- /.nav-collapse -->
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      {{outlet}}
    </div>
  </div>
</div>
