div.preview_info {
  border: 1px dotted black;
  padding: 10px;
}
div.enclose_info {
  border: 1px dotted black;
  padding: 10px;
  width:600px;
}

.markdown_examples td {
  border-top: none;
}

#profile_tabs {
  margin-top:10px;
}
