<form accept-charset="UTF-8" action="/users/sign_in" class="navbar-form navbar-right" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
  </div>

  <div class="form-group">
    <input class="form-control" id="user_email" name="user[email]" type="text" value="">
  </div>
  <div class="form-group">
    <input class="form-control" id="user_password" name="user[password]" type="password" value="">
  </div>
  <button class="btn btn-success" type="submit">Sign in</button>
  <a class="btn btn-primary" href="/users/sign_up" style="color:white">Sign up</a>
</form>
