<div class="form-group">
  <label for="answerInput">Answer (chinese characters)</label>
  {{input id='answerInput' class='form-control' type="text" value=answer}}
</div>
<div class="form-group">
  <label for="expArea">Explanation</label>
  (<a href='http://daringfireball.net/projects/markdown/syntax' target='_blank'>Markdown</a> allowed)
  {{textarea rows='5' id='expArea' value=explanation}}
</div>
