<div id="answers">
  <div class="row answer" id="answer_1" md_answer="hello there">
    <div class="points col-xs-2 col-md-1">
      <div class="arrow">
        <i {{bindAttr class="model.voted:voted :fa :fa-arrow-up :pointer :tip"}} title="Upboat this answer"></i>
      </div>
      <div class="circle vote_count tip" data-placement="right" title="">
        <div>0</div>
      </div>
      <div class="arrow">
        <i class="fa fa-arrow-down downboat pointer tip" title="Downboat this answer"></i>
      </div>
      <div class="star">
        <i class="fa fa-star-o pointer tip" title="Save this answer"></i>
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div class="stuff">
        <div id="content"><p>hello there</p></div>
        <p class="nodisplay" id="edit_box"></p>
      </div>
      <p>
        <i>answered about 1 month ago by</i>
        <a href="/profiles/1">Kyle Murphy</a>
        |
        <a class="edit" href="/answers/1/edit">Edit</a>
      </p>
    </div>
  </div>
</div>
